<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hqj.universityfinance" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme_NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />

        <activity android:name=".MainActivity" />

        <activity android:name=".home.NoticeListActivity"/>
        <activity android:name=".home.WebViewActivity"/>
        <activity android:name=".home.ProjectIntroduceActivity" />
        <activity android:name=".home.SimilarProjectNavigationActivity" />
        <activity android:name=".home.ApplyTableActivity" />
        <activity android:name=".home.EditTextActivity" />

        <activity android:name=".mine.SettingActivity" />
        <activity android:name=".mine.MyInfoActivity" />
        <activity android:name=".mine.MyApplyActivity" />
        <activity android:name=".mine.ApplyPreviewActivity" />
    </application>

</manifest>